{% extends 'base.html' %}
{% load static %}
{% block title %}
Home - My Django Project
{% endblock %}            

{% block content %}
<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 100px;">
    <!-- Form search -->
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="--" aria-label="" style="width: 250px; margin-right: 10px;">
        <button class="btn btn-outline-success text-dark border-secondary" type="submit" style="background-color: #FFB6C1; width: 120px;">TÌM KIẾM</button>
    </form>
    <!-- Button Account -->
    <div class="navbar-nav ml-auto">
        <div class="dropdown">
            <a class="nav-link btn btn-outline-primary text-dark border-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #FFB6C1;">
                Account
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">MY ACCOUNT</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">ĐĂNG XUẤT</a>
            </div>
        </div>
    </div>
</nav>

<h3 class="text-center" style="color: #C71585; margin-top: 60px; font-size: 28px; font-weight: bold;"> DANH SÁCH PHÒNG BAN 
    <button class="btn btn-pink float-right border-secondary "style="background-color: #FFB6C1; width: 120px;" >Thêm</button>
</h3>
<div style="margin-top: 30px;">
<table class="table table-bordered" style="background-color: #FFB6C1;">
    <thead style="background-color: pink;">
        <tr>
            <th style="background-color: #DB7093;">ID</th>
            <th style="background-color: #DB7093;">TÊN PHÒNG BAN</th>
            <th style="background-color: #DB7093;">NGÀY TẠO</th>
            <th style="background-color: #DB7093;">CHỨC NĂNG</th>
        </tr>
    </thead>
    <tbody>
        {% for department in department_list %}
        <tr>
            <td style="background-color: #FFB6C1;">{{ department.department_id }}</td>
            <td style="background-color: #FFB6C1;">{{ department.name }}</td>
            <td style="background-color: #FFB6C1;">{{ department.create_date }}</td>
            <td style="background-color: #FFB6C1;">
                <a href="/department/{{department.department_id}}/" class="btn btn-light">Chi tiết</a>
                <a href="#" class="btn btn-danger">XÓA</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
