{% extends 'base.html' %}
{% load static %}
{% block title %}
Home - My Django Project
{% endblock %}

{% block content %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/style_dp.css' %}">
{% endblock %}


<h3 class="text-center mx-auto" style="color: #C71585; margin-top: 23px; font-size: 28px; font-weight: bold;"> DANH SÁCH PHÒNG BAN </h3>

<form class="d-flex justify-content-center"> <!-- Thêm justify-content-center để căn giữa -->
    <input class="form-control " type="search" placeholder="--" aria-label="" style="width: 250px; margin-right: 10px;">
    <button class="btn btn-outline-success text-dark border-secondary" type="submit" style="background-color: #FFB6C1; width: 120px;">TÌM KIẾM</button>
</form>
<div class="d-flex justify-content-end">
    <button class="btn btn-outline-success text-dark border-secondary" style="background-color: #FFB6C1; width: 120px;">THÊM</button> 
</div>

<div style="margin-top: 30px;">
    <table class="table table-bordered" style="background-color: #FFB6C1;">
        <thead style="background-color: pink;">
            <tr>
                <th style="background-color: #DB7093;">ID</th>
                <th style="background-color: #DB7093;">TÊN PHÒNG BAN</th>
                <th style="background-color: #DB7093;">NGÀY TẠO</th>
                <th style="background-color: #DB7093;">CHỨC NĂNG</th>
            </tr>
        </thead>
        <tbody>
            {% for department in department_list %}
            <tr>
                <td style="background-color: #FFB6C1;">{{ department.department_id }}</td>
                <td style="background-color: #FFB6C1;">{{ department.name }}</td>
                <td style="background-color: #FFB6C1;">{{ department.create_date }}</td>
                <td style="background-color: #FFB6C1;">
                    <a href="/department/{{department.department_id}}/" class="btn btn-light">Chi tiết</a>
                    <a href="#" class="btn btn-danger">XÓA</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
